.LeftSignUp{
  flex: 3;
  padding: 0 5px;
  font-size: 1rem;
  background-color: white;
  padding: 2vh 2vw;
  border-radius: 50px 0 0 50px ;
}

.header{
  font-size: 1.6rem;
  text-align: center; 
}

h1{
  margin: 2vh 0px;
}

.PersoInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PersoInfoInput{
  display: block;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: 2px solid rgba(225, 225, 225, .2);
  border-radius: 20px;
  margin-bottom: 15px;
  width: 45%;
  background-color: #D9D9D9;
  box-shadow: 0 .1rem .3rem gray;
}

.dropdown{
  width: 52%;
}

.Agreement{
  text-align: center;
  margin-top: 20px;
}
