.RightSignUp{
  flex: 2;
  font-size: 1rem;
  color: white;
  padding: 2vh 2vw;
  background-color: #616060;
  border-radius: 0px 50px 50px 0;
}

.NoteInfo{
  text-align: justify;
  margin-bottom: 25px;
  font-size: .8rem;
}

.SchoolInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SchoolInfoInput{
  display: block;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: 2px solid rgba(225, 225, 225, .2);
  background-color: #D9D9D9;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 65%;
  box-shadow: 0 .1rem .3rem black;
}

.SchoolInfoFile{
  text-align: left;
  padding-left: 14%;
}

.SelectRole{
  text-align: left;
  padding-left: 14%;
  padding-top: 2vh;
}

.SignUpButton{
  display: flex;
  justify-content: center;
}

.SignUpButton button{
  margin-top: 30px;
  border: none;
  padding: .8rem 3rem;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
}

input[type="file"] {
  font-size: 17px;
  color: #b8b8b8;
  cursor: pointer;
  margin-top: 10px;
}

input[type="radio"]{
  cursor: pointer;
}

