/******************************** Home Main ********************************/ 

.main-home-tutee{
  width: calc(100vw - 245px) ;
  height: calc(100vh - 80px); 
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label{
  padding: 1rem;
  background-color: #D9D9D9;
  font-weight: 700;
  border-radius: 15px 15px 0 0;
}

.mytabs .tab {
  padding: 1rem 2rem 2rem 2rem;
  background-color: white;
  order: 1;
  display: none;
  border-radius: 0 15px 15px 15px;
  overflow: auto;
  height: calc(100vh - 180px);
  width: 100%;
}

.mytabs input[type="radio"]:checked + label + .tab{
  display: block;
}

.mytabs input[type="radio"]:checked + label{
  background-color: white;
}

.announcement-container{
  width: calc(100% - 40px);
  background-color: #616060;
  color: white;
  padding: 20px;
  border-radius: 1rem;
  margin-bottom: 10px;
}

.offered-courses li{
  margin-bottom: 10px;
}

/******************************** Registration Main ********************************/ 

.main-registration-tutee{
  width: calc(100vw - 245px) ;
  height: calc(100vh - 80px); 

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.left-side{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 .4rem .8rem gray;
  position: relative;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.left-side-header{
  flex: 0 1 auto;
}

.left-side-content{
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
  text-align: end;
  margin: 0 25px;
  border-radius: 15px;
  padding: 25px;
  background-color: #D9D9D9;
}

.registrationNote{

  display: block;
  font-weight: bold;
  text-align: justify;
}

.left-side-content div{
  margin-bottom: 3vh;
}

.left-side-content form .topicTutorial{
  width: 100%;
  text-align: start;
}

.left-side-content form .topicTutorial textarea{
  width: 99%;
  height: 14vh;
}

textarea{
  resize: none;
}

.left-side-content input{
  width: 18vw;
  font-size: 18px;
}

.left-side-content select{
  width: 18vw;
  font-size: 18px;
}

.left-side-button{
  flex: 0 1 10vh;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 25px;
}

.register-tutorial-button{
  cursor: pointer;
}

.right-side{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}

.right-side-upper,
.right-side-lower{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 .4rem .8rem gray;
  position: relative;
  overflow: auto;
}

.left-side-header,
.right-side-lower-header,
.right-side-upper-header{
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: white;

  position: sticky;
  z-index: 200;
  top: 0;
}

.right-side-upper-content,
.right-side-lower-content{
  position: absolute;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px 0 15px;
}

.pending-tutorial,
.scheduled-tutorial{
  display: flex;
  width: calc(100% - 30px);
  height: 55px;
  background-color: #D9D9D9;
  align-items: center;
  margin-bottom: 10px;
  justify-content:space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0 15px 0 15px;
}

.scheduled-tutorial-right,
.pending-tutorial-right{
  display: flex;
}


.main-registration-tutee .view-details{
  height: 25px;
  border: none;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.left-side-button button{
  background-color: #616060;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: .5rem 1.5rem;
  border-radius: 10px;
  margin: 10px 0;
}

.fa-square-xmark{
  font-size: 26px;
  margin-left: 10px;
  cursor: pointer;
}

/******************************** List of Tutors Main ********************************/

.main-list-of-tutors-tutee{
  width: auto ;
  margin-right: .7vw;
  height: calc(100vh - 80px); 
  background-color:white;
  display: grid;
  grid-template-rows: 105px 1fr;
  border-radius: 10px;
}

.main-upper{
  display: grid;
  grid-template-rows: 75px 1fr;
}

.main-upper-search{
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.search-bar{
  height: 40px;
  width: calc(100% - 60px);
  padding: 0 10px;
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
 
}

.search-bar::placeholder{
  font-family: Montserrat, Arial, sans-serif;
  font-size: 15px;
}

.search-button{
  width: 80px;
  height: 42px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  cursor: pointer;
}

.fa-magnifying-glass{
  font-size: 21px;
}

.main-upper-sort{
  margin: 0 15px;
}

.main-lower{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px 10px;
  overflow: auto;
  align-content: start; 
}

/***** Put Media Query to make it responsive *****/

@media (min-width: 1250px){
  .main-lower{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.main-lower::-webkit-scrollbar{
  width: .5rem;
  height: .5rem;
}

.main-lower::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
}

.perso-info{
  background-color: #D9D9D9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0;
}

.perso-info img{
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* Ensures a 1:1 aspect ratio */
  object-fit: cover;
  border-radius: 8px;
}

.perso-info-name{
  font-weight: bold;
  font-size: 1.5vw;
  white-space: nowrap;
}

.perso-info-detail{
  font-size: 1.4vw;
}

.perso-info button {
  border: none;
  padding: .8vw 2vw;
  color: white;
  background-color: #616060;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  margin-bottom: 10px;
  border-radius: 15px;
}