.header{
  height: 55px;
  
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
    
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  background-color: white;
}

.header-left-section{
  margin-right: 20px;
}

.header .fa-solid{
  font-size: 22px;
  margin: 0 10px 0 10px;
}