/******************************** Home Main ********************************/ 

.main-home-tutor{
  width: calc(100vw - 245px) ;
  height: calc(100vh - 80px);
}

.upper-main, .lower-main{
  width: 100%;
  height: 49%;
  
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 .4rem .8rem gray;
  position: relative;
  overflow: auto;
}

.upper-main{
  margin-bottom: 10px;
}

.lower-main-header, .upper-main-header{
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: white;

  position: sticky;
  z-index: 200;
  top: 0;
}

.upper-main-content, .lower-main-content{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pending-tutorial, .schedule-tutorials{
  display: flex;
  width: 97%;
  height: 55px;
  background-color: #D9D9D9;
  align-items: center;
  margin-bottom: 10px;
  justify-content:space-between;
  align-items: center;
  border-radius: 8px;
}

.main-home-tutor .fa-user{
  margin: 0 10px 0 14px;
}

.schedule-tutorials-right, .pending-tutorial-right{
  margin-right: 15px;
  display: flex;
}

.main-home-tutor .view-details{
  height: 25px;
  border: none;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
}

.fa-square-check, .fa-square-xmark{
  font-size: 26px;
  margin-left: 10px;
}

/******************************** Tutorial History Main ********************************/ 

.main-tutorial-history-tutor{
  width: calc(100vw - 245px) ;
  height: calc(100vh - 80px);
  column-gap: 15px;
  background-color:white;
  border-radius: .6rem;
  box-shadow: 0 .4rem .8rem gray;
}

.tutorial-history-header{
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px 20px;

  position: sticky;
  z-index: 200;
  top: 0;
}

.tutorial-history-table{
  width: 97%;
  max-height: 91%;

  margin: .2rem auto;
  border-radius: .6rem;
  overflow: auto;
}

.tutorial-history-table::-webkit-scrollbar{
  width: .5rem;
  height: .5rem;
}

.tutorial-history-table::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
}

.main-tutorial-history-tutor table tr td:nth-child(6),
.main-tutorial-history-tutor table tr td:nth-child(1){
  width: 70px;
}

.main-tutorial-history-tutor table{
  width: 100%;
  text-align: center;
}

.main-tutorial-history-tutor table, th, td{
  padding: .5rem;
  border-collapse: collapse;
}

.main-tutorial-history-tutor thead th{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #616060;
  color: white;
}

.main-tutorial-history-tutor tbody tr:nth-child(even){
  background-color: #D9D9D9;
}

/******************************** Tutorial Availability Main ********************************/ 

.main-tutorial-availability-tutor{
  max-width: calc(100vw - 245px) ;
  height: auto;
  column-gap: 15px;
  background-color:white;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  box-shadow: 0 .4rem .8rem gray;
}

.schedule-header{
  flex: 0 1 auto;
  padding: 1rem;
  font-weight: 700;
}

.schedule{
  flex: 1 1 auto;

  width: 97%;
  max-height: 91%;

  margin: .2rem auto;
  border-radius: .6rem;

}

.schedule-table{
  background-color: white;
  height: 100%;
  overflow: auto;
  border-radius: 8px;
}

.main-tutorial-availability-tutor thead th{
  position: sticky;
  top: 0;
  background-color: #616060;
  color: white;
}

.main-tutorial-availability-tutor table{
  width: 100%;
  min-height: 100%;
}

.main-tutorial-availability-tutor tbody tr:nth-child(even){
  background-color: #D9D9D9;
}

.main-tutorial-availability-tutor table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

.main-tutorial-availability-tutor table tr th:nth-child(1){
  width: 250px;
}

.schedule-button{
  flex: 0 1 5vh;
  display: flex;
  justify-content: end;
}

.edit-button, .save-button{
  padding: 1vh 4vh;
  margin: 15px 25px 13px 0;
  font-weight: 700;
  font-size: 25px;
  background-color: #616060;
  color: white;
  border: none;
  border-radius: 8px;
}