/******************************** LOGOUT ********************************/ 

/* Set a style for all buttons */
.logout-modal button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.logout-modal button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.logout-modal .cancelbtn, .logout-modal .logoutbtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.logout-modal .cancelbtn {
  background-color: #D9D9D9;
  color: black;
}

/* Add a color to the delete button */
.logout-modal .logoutbtn {
  background-color: #616060;
}

/* Add padding and center-align text to the container */
.logout-modal .container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.logout-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  color: black;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.modal .close:hover,
.modal .close:focus {
  color: #616060;
  cursor: pointer;
}

/* Clear floats */
.modal .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .modal .cancelbtn, .modal .deletebtn {
     width: 100%;
  }
}

/************************ HOME - VIEW DETAILS ************************/ 

.account-for-approval-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
}

.account-for-approval-view-detials-modal, .registered-view-details-modal{
  background-color: white;
  width: 600px;
  margin: 5% auto auto auto;
  padding: 20px;
  border-radius: 1rem;
}

.home-view-details-modal-content, .registered-view-details-modal-content{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.home-left-side-content, .registered-left-side-content{
  flex: 1;
  text-align: end;
}

.home-view-details-modal-header, .registered-view-details-modal-header{
  text-align: center;
}

.home-left-side-content div,
.home-right-side-content div,
.registered-left-side-content div,
.registered-right-side-content div{
  margin: 10px 10px;
}

.home-right-side-content, .registered-right-side-content{
  flex: 1;
}

/******************************** HOME - APPROVAL ********************************/ 

.admin-home-check-modal, .admin-home-deny-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
}

.check-content, 
.deny-content, 
.banning-content{
  background-color: white;
  width: 30%;
  margin: 5% auto auto auto;
  padding: 20px;
  border-radius: 1rem;
  text-align: center;
  content: "";
  clear: both;
  display: table;
}


.check-content button, 
.deny-content button,
.banning-content button{
  width: 50%;
  margin: 8px 0;
  padding: 14px 20px;
  float: left;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.check-content button:hover,
.deny-content button:hover,
.banning-content button:hover {
  opacity:1;
}

.account-approval-cancel-button,
.account-denial-cancel-button, 
.account-banning-cancel-button{
  background-color: #D9D9D9;
}

.account-approval-approve-button,
.account-denial-deny-button,
.account-banning-ban-button{
  background-color: #616060;
  color: white;
}


/******************************** TUTORIAL SESSION - VIEW DETAILS ********************************/ 

.pending-scheduled-tutorials-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
}

.scheduled-tutorials-content{
  background-color: white;
  width: 900px;
  margin: 5% auto auto auto;
  padding: 20px 20px 20px 20px;
  border-radius: 1rem;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  max-height: 60vh; 
  overflow: hidden; 
}

.left-scheduled-tutorials,
.right-scheduled-tutorials{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 .4rem .8rem gray;
  position: relative;
  overflow: hidden;
}

.left-scheduled-tutorials-header,
.right-scheduled-tutorials-header{
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: white;

  position: sticky;
  z-index: 200;
  top: 0;
}

.left-scheduled-tutorials-content,
.right-scheduled-tutorials-content {
  width: calc(100% - 20px);
  padding: 0 10px 10px 10px;
  overflow-y: auto;
  max-height: calc(60vh - 50px);
}

.schedule-tutorials,
.pending-tutorial{
  display: flex;
  width: calc(100% - 20px);
  height: 55px;
  background-color: #D9D9D9;
  align-items: center;
  justify-content:space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.schedule-tutorials-right, .pending-tutorial-right{
  display: flex;
}

.scheduled-tutorials-content .view-details{
  height: 25px;
  border: none;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/******************************** INSIDE VIEW DETAILS ********************************/ 

.admin-inside-view-details-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
}

.admin-inside-view-details-content {
  background-color: white;
  margin: 5% auto 15% auto; 
  padding: 20px;
  border-radius: 1rem;
  width: 30%;
  text-align: center;
  border: 1px solid #888;
}

.tutorial-details {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures equal column widths */
}

.tutorial-details td {
  padding: 8px;
  border: none; /* Removes any borders */
}

.tutorial-details td:first-child {
  text-align: end;
  width: 50%;
  padding-right: 15px; /* Optional for spacing */
}

.tutorial-details td:last-child {
  text-align: start;
  width: 50%;
  padding-left: 15px; /* Optional for spacing */
}

.button-container {
  display: flex; /* Enables flexbox for side-by-side layout */
  width: 100%; /* Ensures the buttons take up the full width of the container */
  gap: 0; /* Removes any spacing between buttons (optional) */
}

.admin-inside-view-details-modal button {
  background-color: #616060;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  flex: 1;
}

.admin-inside-view-details-modal button:hover {
  opacity:1;
}

/******************************** TUTORIAL SESSION - TUTORIAL CANCELLATION ********************************/ 

.tutorial-cancellation-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
}

.tutorial-cancellation-content{
  background-color: white;
  width: 40%;
  margin: 5% auto auto auto;
  padding: 0 20px 20px 20px;
  border-radius: 1rem;
  content: "";
  clear: both;
  display: table;
}

.confirm-btn {
  background-color:#616060;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: .7;
}

.tutorial-cancellation-content button:hover {
  opacity: 1;
}

.cancel-btn {
  background-color: #616060;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: .7;
}


/******************************** TUTORIAL HISTORY - GENERATE REPORT ********************************/ 

.generate-report-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
}

/******************************** REGISTERED - VIEW DETAILS ********************************/ 

.admin-registered-view-details-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
}

.registered-view-details-modal-ban-button{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.registered-view-details-modal-ban-button button{
  background-color: #616060;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: .6rem 1.2rem;
  border-radius: .5rem;
  cursor: pointer;
}

/******************************** REGISTERED - VIEW DETAILS - BAN ********************************/ 

.admin-registered-view-details-ban-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .7);
}
