body{
  font-family: Montserrat, Arial, sans-serif;
  margin: 0px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #D9D9D9;
}

.wrapper{
  width: 70vw;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  box-shadow: 0 .4rem .8rem gray;
}

.modal .terms-and-conditions-container{
  padding: 16px;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  color: black;
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr 100px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgba(0, 0, 0, .7);
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Clear floats */
.modal .terms-and-conditions-button::after {
  content: "";
  clear: both;
  display: table;
}

.terms-and-conditions-text{
  height: calc(100vh - 50%)
}
